* {
margin: 0;
padding: 0;
}

.container{
    text-align:center
}
.left{
    float: left; 
}
.right{
    float: right; 
}
.center{ 
   display:contents;
}

borde{
position: absolute;
width: 365px;
height: 49px;
left: 975px;
top: 156px;
background: #FFFEFE;
}
borde1{
    position: absolute;
    width: 165px;
    height: 49px;
    left:1180px;   
    top: 156px;
    background: #FFFEFE;
    }

body{
    Width: 1440px;
    Height: 2746px;
    Top: 1258px;
    Left:-6195px; 
    background-color: #C1CAC8;
}

fondo_blanco{
    position: absolute;
    width: 1352px;
    height: 2638px;
    left: 44px;
    top: 45px;
    background: #FFFEFE;
    border-radius: 41px;
    }

barra{
    display: flex;
    align-items: center;
    position: absolute;
    width: 1352px;
    height: 85px;
    left: 0px;
    top: 180px;
    background: #02475E;
}

inicio{ 
position:static;
width: 111px;
height: 48px;
left: 152px;
top: 243px;
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
color: #FFFFFF; 
margin-left:100px;
}
 
catalogo{ 
    position:static ;
    width: 180px;
    height: 48px;
    left: 415px;
    top: 243px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-left:200px;
    }

 solicita{ 
    position:static ;
    width: 276px;
    height: 39px;
    left: 794px;
    top: 243px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-left:200px;
}   

usuarioborde{
    position: absolute;
    width: 0px;
    height: 42px;
    left: 239px;
    top: -6.5px;
}

 contacto{ 
    position:static ;
    width: 165px;
    height: 48px;
    left: 1177px;
    top: 243px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF; 
    margin-left:200px;
}

h2 {
    background-color: blueviolet;
}

linea24{
position: absolute;
width: 289px;
height: 0px;
left: 180px;
top: 100px;
border: 1px solid #000000;}

tituloLogo{
    position: absolute;
    width: 202px;
    height: 82px;
    left: 180px;
    top:30px;
    font-family: Viga;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 86px;
    letter-spacing: -0.02em;
    color: #000000;
}
textoEncabezado{ 
position: absolute;
width: 314px;
height: 16px;
left: 180px;
top: 100px;
font-family: Vollkorn SC;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
color: #000000;
}
/*albi*/
letratitulos{
    position: absolute;
    width: 196px;
    height: 53px;
    left: 111px;
    top: 20px;
    
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    
    color: #000000;
}
rectangulo{
    position: absolute;
    width: 1245px;
    height: 780px;
    left: 50px;
    top: 430px;
    background: rgba(193, 202, 200, 0.85);
    border-radius: 20px;

}

calendario{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 336px;
height: 240px;
left: 40px;
top: 150px;
background-color: #FFFEFE;
}
agendaimg{
    position: absolute;
    width: 731px;
    height: 395px;
    left: 464px;
    top: 125px;
}
/*----*/

/*franqui*/
Rectangle_69{
    position: absolute;
    width: 1158px;
    height: 137px;
    left: 136px;
    top: 600px;
    background: #FEFAFA;
    border: 1px solid #4D4A4A;
    border-radius: 20px;
    }
    
    Textobienvenido{
    position: absolute;
    width: 613px;
    height: 48px;
    left: 50px;
    top: 20px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    color: #073d50;
    }
    
    Textoengris{
        position: absolute;
        width: 1041px;
        height: 48px;
        left: 50px;
        top: 85px;
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #7E8081;
        }
/*----*/

inicio2{ 

    position:static;
    width: 111px;
    height: 48px;
    left: 152px;
    top: 243px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF; 
    margin-left:100px;
    }

    
genrep{ 
    position:static ;
    width: 180px;
    height: 48px;
    left: 415px;
    top: 243px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-left:200px;
    }

 
    transacciones{ 
        position:static ;
        width: 276px;
        height: 39px;
        left: 794px;
        top: 243px;
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        color: #FFFFFF;
        margin-left:170px;
    }        

    clientes{ 
        position:static ;
        width: 165px;
        height: 48px;
        left: 1177px;
        top: 243px;
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        color: #FFFFFF; 
    }

    agenda{
            position:static ;
            width: 276px;
            height: 39px;
            left: 794px;
            top: 243px;
            font-family: Work Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 42px;
            color: #FFFFFF;
            margin-left:250px;
        }   
        
        usuarioborde{
            position: absolute;
            width: 0px;
            height: 42px;
            left: 239px;
            top: -6.5px;
        }
    

    letrabotonvolver{
position: absolute;
width: 182px;
height: 25px;
left:50px;
top:8px;

font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

    }

    

rectangle72{
position: absolute;
width: 217px;
height: 59px;
left: 500px;
top: 640px;

background: #02475E;
/* Grey */

border: 1px solid #4D4A4A;
border-radius: 20px;
}

/*nuevoooo*/
letraforms{ 
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #02475E;}

::marker{  
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    color: #02475e00;}

    input{
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
        -webkit-rtl-ordering: logical;
        cursor: text;
        margin: 0em;
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;
        color: #02475E;
        border-width: 0px;
        padding: 1px 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
        width: 260px;
        height: 33px;
        background: #FFFFFF;
        border-radius: 10px;
        
    }

conteinerformulario{
        position: absolute;
        width: 1177px;
        height: 1045px;
        left: 20px;
        top: 10px;
 
}

textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 10px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
    margin: 0.3em;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #02475E;
    border-width: 0px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    
}

input{
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
        -webkit-rtl-ordering: logical;
        cursor: text;
        margin: 0em;
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;
        color: #02475E;
        border-width: 0px;
        padding: 1px 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
        width: 260px;
        height: 33px;
        background: #FFFFFF;
        border-radius: 10px;
        
    }

conteinerformulario{
        position: absolute;
        width: 1177px;
        height: 1045px;
        left: 20px;
        top: 10px;
 
}

textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 10px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
    margin: 0.3em;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #02475E;
    border-width: 0px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    
}


select{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 5px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #02475E;
    border-width: 0px;
    padding: 1px 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    width: 264px;
    height: 34.97px;
    background: #FFFFFF;
    border-radius: 10px;
}

/*franqui                          15/5/2021  -->  6:30*/
Rectangle_176{
    position: absolute;
    width: 1203px;
    height: 282px;
    background: rgba(193, 202, 200, 0.85);
    border-radius: 41px;
}


textodeviviendas{
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #02475E;
}

Rectangle_181{
    position: absolute;
    width: 228px;
    height: 62px;
    background: #02475E;
    border-radius: 20px;
}

Rectangle_Desple{
    position: absolute;
    width: 350px;
    height: 120px;
    background: rgb(2 71 94);
    border-radius: 41px;
}

Rectangle_Desple_1{
    position: absolute;
    width: 300px;
    height: 50px;
    background: #02475E;
    border-radius: 41px;
}
/*albi*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 950px;
    height: 480px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

textodeviviendas{
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #02475E;
}

letrabutton{
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    position:absolute;
    left:16px;
    top:17px;
}
/*para galeria*/
Rectangle467{
position: absolute;
width: 808px;
height: 579px;
top:0px;
left:60px;}

.modalDialog2 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog2:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog2 > div {
    width: 950px;
    height: 480px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close2 {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }
/* para editar galeria*/
Rectangle_elimi{
    width: 200px;
    height: 62px;
    background: #e02d00f3;
    border-radius: 20px;
}

Rectanglesubir{
    position: absolute;
    width: 1045px;
    height: 607px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 20px;
}

Rectanglesvarios{
    border-radius: 20px;
}
 /*FOOTER*/
 .footer{
  position: absolute; background-color: #02475E;font-size: 1.5rem;
    font-family: 'Work Sans',sans-serif; align-content: center; justify-content: center;
top: 2390px;height: 300px; width: 1352px;left: 44px;
}
footer i{
    align-self: flex-start; justify-self: flex-start;
    color:rgb(0, 0, 0); margin:1rem 1rem 0rem 0rem; font-size:3rem;
}
.bitch{align-self: center; margin:0; padding:0; color:black; text-decoration: none;}
.headersecundario a.bitch:hover {text-decoration: underline ; color:rgb(21, 45, 53)}
footer h3{
    display:flex;  align-self: center; color:black;
    padding:0rem 1rem 0rem 1rem;  margin-top:3rem;font-size:2.5rem; 
    text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-weight: 900;
}
/*===================*/
/*=====NAVBAR======*/
.navbar{
    display:flex;  align-items: center;
    background-color: #02475E;
    padding:0.8rem; margin-top:0;
    justify-content:center; position: sticky;
    align-content: stretch; flex-wrap: wrap;
}
.navitem{
    display:flex;
    padding:1%; padding-top:0.5%;padding-bottom:0.5%;
    margin:0.1rem 1rem 0.1rem 1rem ;
    transition-timing-function: ease;
    transition: transform 0.8s, background-color 0.8s ;
    transition-delay: 0.02s;border-radius: 15%;
}
.navitem:hover{
    background-color: rgba(255, 255, 255, 0.329);
    transform: scale(1.15, 1.1); font-size:unset;
}
.navitem a{
    color:rgb(255, 255, 255);   font-size: 2rem;
    text-decoration: none; transition-timing-function: ease; transition: color 0.5s,
}
.navitem a:hover{  color:rgb(255, 253, 241);   }
.sticky { position: fixed;top: 0; width: 100%; }
/*===================*/